body{
    font-family: sans-serif;
    background-color: lightyellow;
}

.app {
    width: 300px;
    height: 500px;
    border: 2px solid #008000;
    border-radius: 8px;
    padding: 15px;
    background-color: #fff;
}

#addNew {
    display: flex;
    background-color: rgb(205, 255, 171);
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.fa-plus {
    background-color: lightyellow;
    padding: 5px;
    border-radius: 3px;  
}

#tasks div {
    background-color: rgb(205, 255, 171);
    border: 3px solid #008000;
    padding: 5px;
    border-radius: 5px;
    display: grid;
    gap: 4px;
}

#tasks{
    display: grid;
    gap: 14px;
}

.options {
    justify-self: center;
    display: flex;
    gap: 20px;
}

.options {
    cursor: pointer;
}

#msg {
    color: red;
}